* {
    outline: 1px solid #3882F6;
    font-family: "Roboto", sans-serif;
}

p {
    color: #1F2397;
    font-size: 18px;
}

#hero {
    height: 450px;
    background-color: #1f2937;
}

.flex-container {
    display: flex;
}

.flex-container div {
    flex: 1;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.flex-c div, .flex-c header {
    height: auto;
    flex: 1 1 auto;
}

.inline {
    display: inline;
}

#section-two {
    height: 400px;
}

#quote {
    height: 400px;
    background-color: #E5E7EB;
}

#section-four {
    height: 350px;
}

footer {
    background-color: #1f2937;
}

#foot {
    color: #F9FAF8;
    text-align: center;
}

#call-to-action, #call-to-action p {
    background-color: #3882F6;
    color: #F9FAF8;
}

#call-to-action button {
    border: 3px solid #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    width: 100px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#hero p, #hero a {
    font-size: 18px;
    color: #E5E7EB;
}

#hero h3 {
    font-size: 24px;
    color: #F9FAF8;
}

#section-two h3 {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

#word {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

#speak  {
    font-weight: bold;
}

#hero header, #hero div {
    width: 1000px;
    margin: 0 auto;
}


#hero header {
    display: flex;
}

#not-image {
    width: 500px;
    height: 200px;
    background-color: #888888;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-link {
    display: flex;
    justify-content: flex-end;
}

.h-link a {
    margin-left: 5px;
}