* {
    outline: 1px solid red;
}

#hero {
    height: 450px;
    background-color: #1f2937;
}

.flex-container {
    display: flex;
}

.flex-container div {
    flex: 1;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.flex-c div, .flex-c header {
    height: auto;
    flex: 1 1 auto;
}

.inline {
    display: inline;
}

#section-two {
    height: 400px;
}

#quote {
    height: 400px;
    background-color: #E5E7EB;
}

#section-four {
    height: 350px;
}

footer {
    background-color: #1f2937;
}

#call-to-action {
    background-color: #3882F6;
}

button {
    background-color: #3882F6;
}